.DS_Store
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace
**/.env
**/.env.*
!/frontend/.env.example
/server/node_modules/
/server/logs/
/server/*.log
/server/coverage/
/server/.nyc_output/
/server/.idea/
/server/.vscode/*
!/server/.vscode/settings.json
!/server/.vscode/tasks.json
!/server/.vscode/launch.json
!/server/.vscode/extensions.json
/server/.env
/server/pids/
/server/*.pid
/server/*.seed
/server/*.pid.lock
/server/report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json
/server/.temp/
/server/.tmp/
/frontend/.output/
/frontend/.data/
/frontend/.nuxt/
/frontend/.nitro/
/frontend/.cache/
/frontend/dist/
/frontend/node_modules/
/frontend/logs/
/frontend/*.log
/frontend/.idea/
/frontend/.fleet/
/server/node_modules
/client/node_modules